{% extends 'Base/homebase.html' %} {% block title %}Best Aviation
Management Institute | Titan Aviation{% endblock %}{% block metadescription %}
<meta name="description" content="" />
<meta name="tittle" content="" />
<meta name="keywords" content="" />
{% endblock %} {% block body %}
<!-- Main content Start -->
<div class="main-content">
<!-- Breadcrumbs Start -->
<div class="rs-breadcrumbs breadcrumbs-overlay">
   <div class="breadcrumbs-img">
      <img src="/static/Home/assets/images/breadcrumbs/2.jpg" alt="Breadcrumbs Image">
   </div>
   <div class="breadcrumbs-text white-color">
      <h1 class="page-title">About Us</h1>
      <ul>
         <li>
            <a class="active" href="/">Home</a>
         </li>
         <li>About Us</li>
      </ul>
   </div>
</div>
<!-- Breadcrumbs End -->
<!-- About Section Start -->
<div id="rs-about" class="rs-about style1 pt-100 pb-100 md-pt-70 md-pb-70">
   <div class="container">
      <div class="row align-items-center">
         <div class="col-lg-6 order-last padding-0 md-pl-15 md-pr-15 md-mb-30">
            <div class="img-part">
               <img class="" src="/static/Home/assets/images/about/about2orange.png" alt="About Image">
            </div>
         </div>
         <div class="col-lg-6 pr-70 md-pr-15">
            <div class="sec-title">
               <div class="sub-title orange">About Titan Aviation</div>
               <h2 class="title mb-17">Welcome to The Titan Aviation Institute</h2>
               <div class="bold-text mb-22">Many educationists and academic men have praised Titan Aviation Institute for its excellence in providing high-quality educational courses,</div>
               <div class="desc">programs, and practical vividness in the aviation industry, hotel management, and Tourism Management. Since the institute's founding, we have encouraged new ideas, technological advancement, and young entrepreneurship among all candidates in order to prepare them for careers in a competitive industry.</div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- About Section End -->
<!-- Counter Section Start -->
<div id="rs-counter" class="rs-counter style2-about pt-100 md-pt-70">
   <div class="container">
      <div class="row couter-area">
         <div class="col-md-4 sm-mb-30">
            <div class="counter-item text-center">
               <div class="counter-bg">
                  <img src="/static/Home/assets/images/counter/bg1.png" alt="Counter Image">
               </div>
               <div class="counter-text">
                  <h2 class="rs-count kplus">2</h2>
                  <h4 class="title mb-0">Students</h4>
               </div>
            </div>
         </div>
         <div class="col-md-4 sm-mb-30">
            <div class="counter-item text-center">
               <div class="counter-bg">
                  <img src="/static/Home/assets/images/counter/bg2.png" alt="Counter Image">
               </div>
               <div class="counter-text">
                  <h2 class="rs-count">8.50</h2>
                  <h4 class="title mb-0">Average CGPA</h4>
               </div>
            </div>
         </div>
         <div class="col-md-4">
            <div class="counter-item text-center">
               <div class="counter-bg">
                  <img src="/static/Home/assets/images/counter/bg3.png" alt="Counter Image">
               </div>
               <div class="counter-text">
                  <h2 class="rs-count percent">95</h2>
                  <h4 class="title mb-0">Graduates</h4>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Counter Section End -->
<!-- About Section Start -->
<div class="rs-about style1 pt-100 pb-100 md-pt-70 md-pb-70">
   <div class="container">
      <div class="row align-items-center">
         <div class="col-lg-6 padding-0 md-pl-15 md-pr-15 md-mb-30">
            <div class="img-part">
               <img class="" src="/static/Home/assets/images/about/history.png" alt="About Image">
            </div>
            <ul class="nav nav-tabs histort-part" id="myTab" role="tablist">
               <li class="nav-item tab-btns single-history">
                  <a class="nav-link tab-btn active" id="about-history-tab" data-toggle="tab" href="#about-history" role="tab" aria-controls="about-history" aria-selected="true"><span class="icon-part"><i class="flaticon-banknote"></i></span>History</a>
               </li>
               <li class="nav-item tab-btns single-history">
                  <a class="nav-link tab-btn" id="about-mission-tab" data-toggle="tab" href="#about-mission" role="tab" aria-controls="about-mission" aria-selected="false"><span class="icon-part"><i class="flaticon-flower"></i></span>Mission & Vission</a>
               </li>
               <li class="nav-item tab-btns single-history last-item">
                  <a class="nav-link tab-btn" id="about-admin-tab" data-toggle="tab" href="#about-admin" role="tab" aria-controls="about-admin" aria-selected="false"><span class="icon-part"><i class="flaticon-analysis"></i></span>Administration</a>
               </li>
            </ul>
         </div>
         <div class="offset-lg-1"></div>
         <div class="col-lg-5">
            <div class="tab-content tabs-content" id="myTabContent">
               <div class="tab-pane tab fade show active" id="about-history" role="tabpanel" aria-labelledby="about-history-tab">
                  <div class="sec-title mb-25">
                     <h2 class="title">Titan Aviation History</h2>
                     <div class="desc">To develop Institute as a Centre of Excellence in Aviation. To inculcate in its students the qualities of Leadership, Professionalism, Executive Competence and Corporate understanding. To transform students into Globally Competitive Professionals.</div>
                  </div>
                  <div class="tab-img">
                     <img class="" src="/static/Home/assets/images/about/tab1.jpg" alt="Tab Image">
                  </div>
               </div>
               <div class="tab-pane fade" id="about-mission" role="tabpanel" aria-labelledby="about-mission-tab">
                  <div class="sec-title mb-25">
                     <h2 class="title">Titan Aviation Mission</h2>
                     <div class="desc">Ever since its commencement the institute has promoted entrepreneurship, new concepts and technological innovations among its students to create them the longer term leaders of the skilled world.Our Institute delivers the real-world experience one needs to succeed in today's competitive global marketplace.</div>
                  </div>
                  <div class="tab-img">
                     <img class="" src="/static/Home/assets/images/about/tab2.jpg" alt="Tab Image">
                  </div>
               </div>
               <div class="tab-pane fade" id="about-admin" role="tabpanel" aria-labelledby="about-admin-tab">
                  <div class="sec-title mb-25">
                     <h2 class="title">Titan Aviation Administration</h2>
                     <div class="desc">Every organization, irrespective of the industry, needs an excellent administration to organize the company. The admin department often gets unheralded in business; however, their role should not be underestimated. Without this backbone, things can instantly fall apart, making it challenging for the organization to function as intended.</div>
                  </div>
                  <div class="tab-img">
                     <img class="" src="/static/Home/assets/images/about/tab3.jpg" alt="Tab Image">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Intro Info Tabs-->
      <div class="intro-info-tabs">
      </div>
   </div>
</div>
<!-- About Section End -->
<!-- Team Section Start -->
<div id="rs-team" class="rs-team style1 orange-color pt-94 pb-100 md-pt-64 md-pb-70 gray-bg">
   <div class="container">
      <div class="sec-title mb-50 md-mb-30">
         <div class="sub-title orange">Instructor</div>
         <h2 class="title mb-0">Expert Teachers</h2>
      </div>
      <div class="rs-carousel owl-carousel nav-style2 orange-color" data-loop="true" data-items="3" data-margin="30" data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="false" data-nav="true" data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="2" data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="2" data-ipad-device-nav2="false" data-ipad-device-dots2="false" data-md-device="3" data-md-device-nav="true" data-md-device-dots="false">
         <div class="team-item">
            <img src="/static/Home/assets/images/team/1.jpg" alt="">
            <div class="content-part">
               <h4 class="name">Akhlesh</h4>
               <span class="designation">Professor</span>
            </div>
         </div>
         <div class="team-item">
            <img src="/static/Home/assets/images/team/2.jpg" alt="">
            <div class="content-part">
               <h4 class="name">Jessi</h4>
               <span class="designation">Professor</span>
            </div>
         </div>
         <div class="team-item">
            <img src="/static/Home/assets/images/team/3.jpg" alt="">
            <div class="content-part">
               <h4 class="name">Alex</h4>
               <span class="designation">Professor</span>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Team Section End -->           
<!-- Testimonial Section Start -->
<div class="rs-testimonial style2 pt-100 pb-100 md-pt-70 md-pb-70">
   <div class="container">
      <div class="row">
         <div class="col-lg-5 pr-90 md-pr-15 md-mb-30">
            <div class="donation-part">
               <img src="/static/Home/assets/images/donor/1.jpg" alt="">
               <h3 class="title mb-10">Titan Aviation helps us</h3>
               <div class="desc mb-38">Titan Aviation is the best if you want to do your diploma course in aviation industry. FIAT is well-equipped with modern facilities that are suitable for both online and offline instruction. The institute makes significant efforts to ensure that students' learning experiences are comprehensive. The best thing is that they will provide you with the hospitality, travel and tourism.</div>
               <div class="btn-part">
                  <a class="readon2 orange" href="{% url 'Home:Online-Admission' %}">Apply Now</a>
               </div>
            </div>
         </div>
         <div class="col-lg-7 lg-pl-0 ml--15 md-ml-0">
            <div class="testi-wrap mb-50">
               <div class="img-part">
                  <img src="/static/Home/assets/images/testimonial/style2/1.jpg" alt="">
               </div>
               <div class="content-part new-content pt-12">
                  <div class="desc">Education is the passport to the future for tomorrow belongs to those who prepare for it today</div>
                  <div class="info">
                     <h5 class="name">Mahadi mansura</h5>
                     <div class="designation">Head Teacher</div>
                  </div>
               </div>
            </div>
            <div class="testi-wrap">
               <div class="img-part">
                  <img src="/static/Home/assets/images/testimonial/style2/2.jpg" alt="">
               </div>
               <div class="content-part new-content pt-12">
                  <div class="desc">Education is the passport to the future for tomorrow belongs to those who prepare for it today</div>
                  <div class="info">
                     <h5 class="name">Jonathon Lary</h5>
                     <div class="designation">Math Teacher</div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Testimonial Section End -->
{% endblock %}