{% extends 'Base/homebase.html' %} {% block title %}Contact Us | Titan Aviation
{%endblock %} {%block metadescription %}
<meta name="description" content="" />
<meta name="tittle" content="" />
<meta name="keywords" content="" />
{% endblock %} {% block body %}

<!-- Main content Start -->
<div class="main-content">
  <!-- Breadcrumbs Start -->
  <div class="rs-breadcrumbs breadcrumbs-overlay ">
      <div class="breadcrumbs-img">
          <img src="/static/Home/assets/images/breadcrumbs/6.jpg" alt="Breadcrumbs Image">
      </div>
      <div class="breadcrumbs-text white-color padding">
          <h1 class="page-title white-color">Contact Us</h1>
          <ul>
              <li>
                  <a class="active" href="/">Home</a>
              </li>
              <li>Contact Us</li>
          </ul>
      </div>
  </div>
  <!-- Breadcrumbs End -->            

<!-- Contact Section Start -->
<div class="contact-page-section pt-100 pb-100 md-pt-70 md-pb-70">
    <div class="container">
       <div class="rs-contact-img mb-90">
             <div class="row">
                <div class="col-lg-6 md-mb-30">
                    <div class="img-part js-tilt">
                        <img src="/static/Home/assets/images/contact/contact42.png" alt="">
                    </div>
                </div> 
                <div class="col-lg-6 pl-50 md-pl-15">
                     <!-- Map Section Start -->
                     <div class="contact-map3">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d224357.44250036243!2d77.26173984996723!3d28.522129952074113!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce5a43173357b%3A0x37ffce30c87cc03f!2sNoida%2C%20Uttar%20Pradesh!5e0!3m2!1sen!2sin!4v1677490152835!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                     </div>
                     <!-- Map Section End --> 
                </div>
            </div>
         </div>
          <div class="row mb-90 md-mb-50">
              <div class="col-lg-4 col-md-12 md-mb-30">
                  <div class="rs-contact-wrap">
                      <div class="inner-part text-center">
                          <h2 class="title2">General</h2>                                   
                      </div>
                      <div class="address-item">
                          <div class="address-icon">
                              <i class="fa fa-envelope-o"></i>
                          </div>
                          <div class="address-text">
                               <span class="label">Email Addresss</span>
                               <span class="des">info@titanaviation.com</span>
                           </div>
                      </div> 
                      <div class="address-item">
                          <div class="address-icon">
                              <i class="fa fa-headphones"></i>
                          </div>
                          <div class="address-text">
                               <span class="label">Phone Number</span>
                               <span class="des"><a href="tel%2b0885898745.html">+91-9876743210</a></span>
                           </div>
                      </div> 
                      <div class="address-item">
                          <div class="address-icon">
                              <i class="fa fa-map-signs"></i>
                          </div>
                          <div class="address-text">
                               <span class="label">Address</span>
                               <span class="des">Noida, India</span>
                           </div>
                      </div>
                  </div> 
              </div> 
              <div class="col-lg-4 col-md-12 md-mb-30">
                  <div class="rs-contact-wrap">
                      <div class="inner-part text-center">
                          <h2 class="title2">Admissions</h2>                                   
                      </div>
                      <div class="address-item">
                          <div class="address-icon">
                              <i class="fa fa-envelope-o"></i>
                          </div>
                          <div class="address-text">
                               <span class="label">Email Address</span>
                               <span class="des">admission@titanaviation.com</span>
                           </div>
                      </div> 
                      <div class="address-item">
                          <div class="address-icon">
                              <i class="fa fa-headphones"></i>
                          </div>
                          <div class="address-text">
                               <span class="label">Phone Number 1</span>
                               <span class="des"><a href="tel:+91-9876354634">+91-9876354634</a></span>
                           </div>
                      </div> 
                      <div class="address-item">
                          <div class="address-icon">
                              <i class="fa fa-headphones"></i>
                          </div>
                          <div class="address-text">
                               <span class="label">Phone Number 2</span>
                               <span class="des"><a href="tel:+91-9876354634">+91-9876354634</a></span>
                           </div>
                      </div>
                  </div> 
              </div> 
              <div class="col-lg-4 col-md-12">
                  <div class="rs-contact-wrap">
                      <div class="inner-part text-center">
                          <h2 class="title2">Emergency</h2>                                   
                      </div>
                      <div class="address-item">
                          <div class="address-icon">
                             <i class="fa fa-envelope-o"></i>
                          </div>
                          <div class="address-text">
                               <span class="label">Email Address</span>
                               <span class="des">emergency@titanaviation.com</span>
                           </div>
                      </div> 
                      <div class="address-item">
                          <div class="address-icon">
                              <i class="fa fa-headphones"></i>
                          </div>
                          <div class="address-text">
                               <span class="label">Phone Number 1</span>
                               <span class="des"><a href="tel:+91-9876354634">+91-9876354634</a></span>
                           </div>
                      </div> 
                      <div class="address-item">
                          <div class="address-icon">
                              <i class="fa fa-headphones"></i>
                          </div>
                          <div class="address-text">
                               <span class="label">Phone Number 2</span>
                               <span class="des"><a href="tel:+91-9876354634">+91-9876354634</a></span>
                           </div>
                      </div>
                  </div> 
              </div>
          </div>
         <div class="rs-quick-contact">
              <div class="inner-part text-center mb-50">
                  <h2 class="title mb-15">Quick Contact</h2>
                  <p>Let's get connected for future endevours</p>
              </div>
              <form action="{% url 'Home:ContactUs' %}" method="post">
                {% csrf_token %}
                <div class="row">
                   <div class="col-lg-6 mb-35 col-md-12">
                      <div>
                         <label>Your name</label>
                         <input
                            type="text"
                            name="name"
                            id="name"
                            class="from-control"
                            required
                            data-error="Please enter your name"
                            />
                         <div class="help-block with-errors"></div>
                      </div>
                   </div>
                   <div class="col-lg-6 mb-35 col-md-12">
                      <div>
                         <label>Your email</label>
                         <input
                            type="email"
                            name="email"
                            id="email"
                            class="from-control"
                            required
                            data-error="Please enter your email"
                            />
                         <div class="help-block with-errors"></div>
                      </div>
                   </div>
                   <div class="col-lg-6 mb-35 col-md-12">
                      <div>
                         <label>Your phone</label>
                         <input
                            type="text"
                            name="phone"
                            required
                            data-error="Please enter your number"
                            class="from-control"
                            />
                         <div class="help-block with-errors"></div>
                      </div>
                   </div>
                   <div class="col-lg-6 mb-35 col-md-12">
                      <div>
                         <label>Subject</label>
                         <input
                            type="text"
                            name="subject"
                            id="msg_subject"
                            class="from-control"
                            required
                            data-error="Please enter your subject"
                            />
                         <div class="help-block with-errors"></div>
                      </div>
                   </div>
                   <div class="col-lg-12">
                      <div>
                         <label>Your message</label>
                         <textarea
                            name="message"
                            class="from-control"
                            cols="30"
                            rows="8"
                            required
                            data-error="Write your message"
                            ></textarea>
                         <div class="help-block with-errors"></div>
                      </div>
                   </div>
                   <div>
                      <div class="form-check">
                         <input
                            name="gridCheck"
                            value="I agree to the terms and privacy policy."
                            class="form-check-input"
                            type="checkbox"
                            id="gridCheck"
                            required
                            />
                         <label class="form-check-label" for="gridCheck">
                         I agree to the <a href="#">terms</a> and
                         <a href="#">privacy policy</a>
                         </label>
                         <div class="help-block with-errors gridCheck-error"></div>
                      </div>
                   </div>
                </div>
                <div class="form-group mb-0">
                  <input class="btn-send mt-4" type="submit" value="Submit Now">
              </div>
             </form>
              {% if messages %} {% for message in messages %}
                   <p
                     {% if message.tags %} class="alert alert-{{message.tags}} mb-7"
                     {% endif  %}
                   >
                     {{message}}
                   </p>
               {% endfor %} {% endif %}
         </div> 
    </div>
  </div>
  <!-- Contact Section End -->  

 
</div> 

{% endblock %}
