{% extends 'Base/homebase.html' %}{% block title %} Titan Aviation | India's leading Aviation &
Tourism Management Institute{% endblock %}{% block metadescription %}
<meta name="description" content="" />
<meta name="tittle" content="" />
<meta name="keywords" content="" />
{%endblock %} {% block body %}

<div class="main-content">

  <!-- Slider Section Start -->
  <div class="rs-slider style2">
          <div class="rs-carousel owl-carousel" data-loop="true" data-items="1" data-margin="0" data-autoplay="false" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="false" data-nav="false" data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="1" data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="1" data-ipad-device-nav2="true" data-ipad-device-dots2="false" data-md-device="1" data-md-device-nav="true" data-md-device-dots="false">
          <div class="slide-part">
              <div class="container">
                  <div class="row align-items-center">
                      <div class="col-lg-6 order-last">
                          <div class="img-part">
                              <img src="/static/Home/assets/images/slider/home8/P1.jpg" alt="">
                          </div>
                      </div>
                      <div class="col-lg-6 pr-50">
                          <div class="content">
                              <div class="sub-title wow bounceInLeft" data-wow-delay="300ms" data-wow-duration="2000ms">Grow Your knowledge With Titan's</div>
                              <h1 class="title wow fadeInRight" data-wow-delay="600ms" data-wow-duration="2000ms">Start Learing Aviation Courses Today</h1>
                              <div class="sl-btn wow fadeInUp" data-wow-delay="900ms" data-wow-duration="2000ms">
                                  <a class="readon orange-btn" href="{% url 'Home:Online-Admission' %}">Enroll Now</a>
                              </div>
                          </div>
                      </div>  
                  </div>
              </div>
          </div>    
          <div class="slide-part">
              <div class="container">
                  <div class="row align-items-center">
                      <div class="col-lg-6 order-last">
                          <div class="img-part">
                              <img src="/static/Home/assets/images/slider/home8/P2.jpg" alt="">
                          </div>
                      </div>
                      <div class="col-lg-6 pr-80">
                          <div class="content">
                              <div class="sub-title wow bounceInLeft" data-wow-delay="300ms" data-wow-duration="2000ms">Grow Your knowledge With Titan's</div>
                              <h1 class="title wow fadeInRight" data-wow-delay="600ms" data-wow-duration="2000ms">Be Happy healthy And Successful Simplifited</h1>
                              <div class="sl-btn wow fadeInUp" data-wow-delay="900ms" data-wow-duration="2000ms">
                                  <a class="readon orange-btn" href="{% url 'Home:allcourse' %}">Discover More</a>
                              </div>
                          </div>
                      </div>  
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Slider Section End -->

  <!-- About Section Start -->
  <div id="rs-about" class="rs-about style8 pt-200 pb-100 md-pt-70 md-pb-50">
      <div class="container">
          <div class="row">
              <div class="offset-lg-3">
                  
              </div>
              <div class="col-lg-9">
                  <div class="main-content">
                      <div class="img-part">
                          <img src="/static/Home/assets/images/about/home8/P3.jpg" alt="">
                      </div>
                      <div class="row align-items-center">
                          <div class="col-lg-6">
                             <div class="images-title pl-80 md-pl-15 md-mb-40">
                                 <img src="/static/Home/assets/images/about/home8/P4.jpg" alt="">
                             </div> 
                          </div>
                          <div class="col-lg-6">
                             <div class="sec-title3 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">
                                 <div class="sub-title">About Titan</div>
                                 <h2 class="title">Titan Aviation Institute</h2>
                                  <div class="desc mb-30">Many educationists and academic men have praised Titan Aviation Institute for its excellence in providing high-quality educational courses, programs, and practical vividness in the aviation industry, hotel management, and Tourism Management. Since the institute's founding, we have encouraged new ideas, technological advancement, and young entrepreneurship among all candidates in order to prepare them for careers in a competitive industry.</div>

                                 <div class="btn-part wow fadeInUp" data-wow-delay="400ms" data-wow-duration="2000ms">
                                     <a class="readon orange-btn" href="{% url 'Home:About-Us' %}">Read More</a>
                                 </div>
                             </div> 
                          </div>
                      </div>
                  </div>
                  <div class="row rs-counter style-home8 pt-40">
                      <div class="col-lg-3 col-md-6 md-mb-30">
                          <div class="counter-item text-center">
                              <h2 class="rs-count plus">10</h2>
                              <h4 class="title mb-0">Faculties</h4>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-6 md-mb-30">
                          <div class="counter-item text-center">
                              <h2 class="number rs-count kplus">3</h2>
                              <h4 class="title mb-0">Students</h4>
                          </div>
                      </div> 
                      <div class="col-lg-3 col-md-6 md-mb-30">
                          <div class="counter-item text-center">
                              <h2 class="number rs-count kplus">10</h2>
                              <h4 class="title mb-0">Subscribers</h4>
                          </div>
                      </div> 
                      <div class="col-lg-3 col-md-6">
                          <div class="counter-item text-center">
                              <h2 class="number rs-count plus">400</h2>
                              <h4 class="title mb-0">Enrolled</h4>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- About Section End -->

  

  <!-- Categories Section Start -->
  <div id="rs-popular-courses" class="rs-popular-courses style5 pb-40 md-pt-70 md-pb-70">
      <div class="container">
          <div class="sec-title3 text-center mb-45">
              <div class="sub-title primary"> Popular Courses</div>
              <h2 class="title mb-0">Latest Online Courses</h2>
          </div>
          <div class="row">
            {% for c in course %}
              <div class="col-lg-4 col-md-6 mb-30">
                 <div class="courses-item">
                      <div class="courses-grid">
                          <div class="img-part">
                            {% if c.course_img %}
                              <a href="{% url 'Home:coursedetailview' c.course_slug %}"><img src="{{c.course_img.url}}" alt=""></a>
                            {% endif %}
                          </div>
                          <div class="content-part">
                              <div class="course-price">
                                  <span class="price">₹ {{c.course_price}}</span>
                              </div>
                              <h3 class="title"><a href="{% url 'Home:coursedetailview' c.course_slug %}">{{c.course_title}}</a></h3>
                              <ul class="meta-part">
                                  <li class="user">
                                      <i class="fa fa-user"></i>
                                       {{c.course_stu}} Students                                        
                                  </li>
                                  <li class="user">
                                      <i class="fa fa-file"></i>
                                      {{c.course_lessons}} Lessons                                        
                                  </li>
                              </ul>
                          </div>
                      </div>
                 </div>
              </div>  
            {% endfor %}
          </div>
      </div>
  </div>
  <!-- Categories Section End -->

  <!-- Events Section Start -->
  <div class="rs-event home8-style1 event-bg pb-40 md-pt-70 md-pb-70" id="eve">
      <div class="container">
          <div class="sec-title3 text-center">
              <div class="sub-title uppercase mb-10" >
                  Latest Events
              </div>
              <h2 class="title mb-30">Our Upcoming Events</h2>
          </div>
          <div class="rs-carousel owl-carousel" data-loop="true" data-items="3" data-margin="30" data-autoplay="true" data-autoplay-timeout="7000" data-smart-speed="2000" data-dots="true" data-nav="false" data-nav-speed="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="true" data-ipad-device="2" data-ipad-device-nav="false" data-ipad-device-dots="true" data-ipad-device2="1" data-ipad-device-nav2="false" data-ipad-device-dots2="true" data-md-device="3" data-md-device-nav="false" data-md-device-dots="true">
            {% for e in eve %}
             <div class="event-item">
                 <div class="event-short">
                    <div class="featured-img">
                      {% if e.event_img %}
                      <a href="{% url 'Home:eventdetailview' e.event_slug %}">
                        <img src="{{e.event_img.url}}" alt="Image"></a>
                        {% endif %}
                          <div class="dates">
                            {{e.event_date}}  
                        </div>
                    </div>
                    <div class="content-part">
                        <h4 class="title"><a href="{% url 'Home:eventdetailview' e.event_slug %}">{{e.event_title}}</a></h4>
                      <div class="time-sec">
                          <div class="timesec"><i class="fa flaticon-clock"></i> {{e.event_time}} </div>
                          <div class="address"><i class="fa fa-map-o"></i> {{e.event_location}}</div>
                      </div>
                    </div> 
                 </div>
             </div>
            {% endfor %}
         </div>
      </div> 
  </div>
  <!-- Events Section End -->    

  <!-- About Section Start -->
  <!-- <div class="rs-about style9 pt-100 pb-200 md-pt-70 md-pb-70">
      <div class="container">
          <div class="row">
              <div class="offset-lg-4">
             
              </div>
              <div class="col-lg-8">
                  <div class="content-part">
                      <div class="about-img md-mb-50">
                          <div class="media-icon orange-color">
                              <img src="/static/Home/assets/images/about/home8/3.png" alt="">
                              <a class="popup-videos" href="https://www.youtube.com/watch?v=atMUy_bPoQI">
                                  <i class="fa fa-play"></i>
                              </a>
                          </div>
                      </div> 
                      <div class="sec-title3 pl-65 md-pl-15 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">
                          <div class="sub-title">Recipes</div>
                          <h2 class="title">This Kitchen Style is The Most
                              Instagrammable According
                              to a Recent Study</h2>
                           <div class="desc mb-30 pr-50 md-pr-15">Lorem ipsum dolor sit amet, consectetur adipisic ing elit, sed eius to mod tempors incididunt ut labore etdo ldore magna this aliqua enims ad minim.Lorem ipsum dolor sit amet, consecte tur adipisic ing elit, sed eius to mod tem incididunt demo data.</div>

                          <div class="btn-part wow fadeInUp" data-wow-delay="400ms" data-wow-duration="2000ms">
                              <a class="readon orange-btn" href="#">Read More</a>
                          </div>
                      </div> 
                  </div>
              </div>
          </div>
      </div>
  </div> -->
  <!-- About Section End -->

  <!-- Testimonial Section Start -->
  <div class="rs-testimonial style8  pb-100 md-pt-70 md-pb-70">
    <div class="container">
      <div class="sec-title3 text-center">
          <div class="sub-title uppercase mb-10">
              Testimonial
          </div>
          <h2 class="title mb-30">What Students Saying</h2>
      </div>
        <div class="rs-carousel owl-carousel" data-loop="true" data-items="3" data-margin="30" data-autoplay="true" data-autoplay-timeout="7000" data-smart-speed="2000" data-dots="true" data-nav="false" data-nav-speed="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="true" data-ipad-device="2" data-ipad-device-nav="false" data-ipad-device-dots="true" data-ipad-device2="1" data-ipad-device-nav2="false" data-ipad-device-dots2="true" data-md-device="3" data-md-device-nav="false" data-md-device-dots="true">
          {% for s in stur %}  
           <div class="testi-item">
                <div class="author-desc">                                
                    <div class="desc">{{s.stu_descp}}</div>
                    <div class="author-img">
                        <img src="/static/Home/assets/images/testimonial/style8/st2.jpg" alt="">
                    </div>
                </div>
                <div class="author-part">
                    <a class="name">{{s.stu_name}}</a>
                    <span class="designation">Student</span>
                </div>
            </div>
          {% endfor %}  
            
        </div>
    </div>
  </div>
  <!-- Testimonial Section End -->

  <!-- Events Section Start -->
  <div class="rs-gallery style2 mb-2">
     <div class="row margin-0">
         <div class="col-lg-2 padding-0 mb-0 col-md-4 col-sm-6">
             <div class="gallery-part">
                 <div class="gallery-img">
                     <a class="image-popup" href="/static/Home/images/courses/aviation-2.jpg"><img src="/static/Home/images/courses/aviation-2.jpg" alt=""></a>
                 </div>
             </div>
         </div>   
         <div class="col-lg-2 padding-0 mb-0 col-md-4 col-sm-6">
             <div class="gallery-part">
                 <div class="gallery-img">
                     <a class="image-popup" href="/static/Home/images/courses/Hotel Management in kitchen.jpg"><img src="/static/Home/images/courses/Hotel Management in kitchen.jpg" alt=""></a>
                 </div>
             </div>
         </div>   
         <div class="col-lg-2 padding-0 mb-0 col-md-4 col-sm-6">
             <div class="gallery-part">
                 <div class="gallery-img">
                     <a class="image-popup" href="/static/Home/images/courses/aviation.jpg"><img src="/static/Home/images/courses/aviation.jpg" alt=""></a>
                 </div>
             </div>
         </div>   
         <div class="col-lg-2 padding-0 mb-0 col-md-4 col-sm-6">
             <div class="gallery-part">
                 <div class="gallery-img">
                     <a class="image-popup" href="/static/Home/images/courses/tourism.jpg"><img src="/static/Home/images/courses/tourism.jpg" alt=""></a>
                 </div>
             </div>
         </div>   
         <div class="col-lg-2 padding-0 mb-0 col-md-4 col-sm-6">
             <div class="gallery-part">
                 <div class="gallery-img">
                     <a class="image-popup" href="/static/Home/images/courses/hotel-manage-3.jpg"><img src="/static/Home/images/courses/hotel-manage-3.jpg" alt=""></a>
                 </div>
             </div>
         </div>   
         <div class="col-lg-2 padding-0 mb-0 col-md-4 col-sm-6">
             <div class="gallery-part">
                 <div class="gallery-img">
                     <a class="image-popup" href="/static/Home/images/courses/course-Aviation.jpg"><img src="/static/Home/images/courses/course-Aviation.jpg" alt=""></a>
                 </div>
             </div>
         </div> 
     </div>
  </div>
  <!-- Events Section End -->  
</div> 

{% endblock %}
