{% extends 'Base/homebase.html' %} {% block title %} Refund & Cancellation {%
block metadescription %} {% endblock %} {% block body %}
<section class="page-banner">
  <div
    class="page-banner-bg bg_cover"
    style="background-image: url(/static/Home/images/page-banner.webp)"
  >
    <div class="container">
      <div class="banner-content text-center">
        <h2 class="title">Privacy Policy</h2>
      </div>
    </div>
  </div>
</section>

<div class="container mt-5 mb-5">
  <div class="title-div">
    <h3 class="tittle"><span>R</span>efund &amp; <span>C</span>ancellation</h3>
    <div class="tittle-style"></div>
  </div>
  <div class="about-sub">
    <div class="col-md-12 about_bottom_left">
      <p>
        We at Titan Aviation Institute  are committed to provide the best courses
        on aviation &amp; hospitality.
      </p>
      <p>
        It’s our top priority that business transactions between us are
        completely transparent. Since our online courses are immediately
        available after purchase. Therefore, we have “NO REFUND POLICY”
      </p>
      <p>
        In case of dissatisfaction from the course, you are encouraged to write
        about your particular concerns with us at our email ( info@Avis
        Academy.in ). We will take all possible measures to address your
        concern.
      </p>
    </div>
  </div>
</div>

{% endblock %}
