{% extends 'Base/studentbase.html' %}
{% block body %}
<div class="row">
    <div class="col-xxl-3 col-md-4 col-sm-6">
        <a href="{% url 'Student:Lecturevideo' %}">
            <div class="card widget-flat bg-danger text-white">
                <div class="card-body">
                    <div class="float-end">
                        <i class="mdi mdi-currency-rupee widget-icon bg-white text-success"></i>
                    </div>
                    <h6 class="text-uppercase mt-0" title="Customers">Lecture</h6>
                    <h3 class="mt-3 mb-3">{{lecture}}</h3>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xxl-3 col-md-4 col-sm-6">
        <a href="{% url 'Student:SProfile' %}">
            <div class="card widget-flat bg-success text-white">
                <div class="card-body">
                    <div class="float-end">
                        <i class="mdi mdi-account-multiple widget-icon bg-white text-success"></i>
                    </div>
                    <h6 class="text-uppercase mt-0" title="Customers">Profile</h6>
                    <h3 class="mt-3 mb-3"></h3>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xxl-3 col-md-4 col-sm-6">
        <a href="{% url 'Student:payment' %}">
            <div class="card widget-flat bg-primary text-white">
                <div class="card-body">
                    <div class="float-end">
                        <i class="mdi mdi-book-education widget-icon bg-white text-success"></i>
                    </div>
                    <h6 class="text-uppercase mt-0" title="Customers">Payment</h6>
                    <h3 class="mt-3 mb-3"></h3>
                </div>
            </div>
        </a>
    </div>
    
    
</div>
{% endblock  %}

