<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>invoice</title>
</head>
<body>
 
  

        <div class="container mt-5">
            <div class="row justify-content-center">
                <img src="/static/Base/assets/images/fav-i.jpg" alt="" class="w-25" />
            </div>
            <h2 class="text-success text-center fw-bold my-3">Thank you for your payment</h2>

            <div class="table-responsive">
                <table class="table mb-4 w-75 mx-auto">
                    <tr>
                        <th>Name</th>
                        <td>{{context.Name}}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{context.Email}}</td>
                    </tr>
                    <tr>
                        <th>Mobile No</th>
                        <td>{{context.Number}}</td>
                    </tr>
                    <tr>
                        <th>Date Of Birth</th>
                        <td>{{context.DOB}}</td>
                    </tr>
                    <tr>
                        <th>Gender</th>
                        <td>{{context.Gender}}</td>
                    </tr>
                    <tr>
                        <th>Course Name</th>
                        <td>{{context.Course_name}}</td>
                    </tr>
                    <tr>
                        <th>Admission No</th>
                        <td>{{context.Admission_no}}</td>
                    </tr>
                    <tr>
                        <th>Transaction ID</th>
                        <td>{{data}}</td>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <td>{{datenow}}</td>
                    </tr>
                    
                    <tr>
                        <th>Payment Status</th>
                        <td>Success</td>
                    </tr>
                    <tr>
                        <th>State</th>
                        <td>{{context.State}}</td>
                    </tr>
                    <tr>
                        <th>House No / Gali No</th>
                        <td>152</td>
                    </tr>
                    <tr>
                        <th>Village / Town / City</th>
                        <td>{{context.City}}</td>
                    </tr>
                    <tr>
                        <th>Ward No / Post Office</th>
                        <td>{{context.Post_office}}</td>
                    </tr>
                    <tr>
                        <th>Tahsil / Block</th>
                        <td>{{context.Block}}</td>
                    </tr>
                    <tr>
                        <th>District</th>
                        <td>{{context.District}}</td>
                    </tr>
                    <tr>
                        <th>Pincode</th>
                        <td>{{context.Pincode}}</td>
                    </tr>
                    
                </table>
            </div>
            
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    

    
</body>
</html>