{% extends 'accounts/Nav.html'%}

{% load static %}

{% block body %}
<div class="container my-auto">
  <div class="row">
    <div class="col-lg-4 col-md-8 col-12 mx-auto">
      <div class="card mt-5">
        <div class="card-header bg-primary py-3">
          <p class="text-center fw-bold mb-0 text-light fs-5">Sign In</p>
        </div>

           <div class="card-body">      
          <form  role="form" class="text-start" method="post" >
              {% csrf_token %}
            <div class="mb-3">
              <label class="form-label">Email</label>
              <input type="email" class="form-control" name="username">
            </div>
            <div class="mb-3">
              <label for='password' class="form-label">Password</label>
              <input type="password" id='password' class="form-control" name="password">
            </div>
            <div class="form-check form-switch d-flex align-items-center mb-3">
              <input class="form-check-input" type="checkbox" id="rememberMe">
              <label class="form-check-label mb-0 ms-2" for="rememberMe">Remember me</label>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary w-100 my-4 mb-2">Sign in</button>
            </div>
            <div class="text-center">
              <a href="{% url 'accounts:password-reset1' %}" class="btn btn-dark w-100 my-4 mb-2">Reset Password</a>
            </div>
            
            <p class="mt-4 text-sm text-center d-flex  justify-content-evenly align-items-center">
              Don't have an account?
              <a href="{% url 'Home:Online-Admission' %}" class=" btn btn-outline-info ">Sign up</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

 

  </main>
  {% endblock %}
 