{% extends 'accounts/Nav.html'%}


{% block body%}

{% if error %}
{{ error }}

<br/>
<br/>
{% endif %}

<div class="container mt-5">

<div class="card mx-auto w-50 shadow-lg">
    <div class="card-header bg-info text-light fw-bold">
        <h1 class="mb-0 text-center">Logout!</h1>
    </div>
    
    <div class="card-body">
        <form method = "POST" action="{% url 'accounts:logout' %}">
            {% csrf_token %}
    
            <div class="text-center"><button class ="btn btn-info text-light my-5" type="submit" />Logout</button></div>
    
            <br/>
    
        </form>
    </div>
</div>
</div>

{% endblock %}

