{% extends 'accounts/Nav.html'%} {% load static %} {% block title %}Password
Reset Complete{% endblock title %} {% block main-content %}
<div class="container">
  <div class="row my-3">
    <div class="col-sm-6 offset-sm-3">
      <h4>Reset Password Completed!</h4>
      <div
        class="tenor-gif-embed"
        data-postid="20499674"
        data-share-method="host"
        data-aspect-ratio="1.30081"
        data-width="50%"
      >
        <a href="https://tenor.com/view/success-gif-20499674">Success GIF</a
        >from <a href="https://tenor.com/search/success-gifs">Success GIFs</a>
      </div>
      <script
        type="text/javascript"
        async
        src="https://tenor.com/embed.js"
      ></script>
    </div>
  </div>
</div>
{% endblock %}
