{% extends 'accounts/Nav.html'%}

{% load static %}
{% comment %} {% block title %}Password Reset Done{% endblock title %} {% endcomment %}
{% block body %}
<div class="container align-item-center mt-5 ">
<div class="row my-3 ">
<div class="col-sm-6 offset-sm-3">
<div class="card shadow-lg">
    <div class="card-header  bg-info text-center">
        <h4 class=" mb-0 text-light fw-bold">Well done!</h3>
    </div>
    <div class="card-body p-5">
        <p>An Email has been sent with instructions to reset your password.<b>Check Your Email!</b></p>
        <div class="d-flex justify-content-between">
            <a href="/accounts/login" class="btn btn-info text-light">Back to log in</a>
            <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank" class="btn btn-info text-light">Go to gmail</a>
        </div>
    </div>
</div>

</div>
</div>
</div>
{% endblock %}