
<style>
    body{
        background: linear-gradient(to right, black, rgb(100, 210, 243));
        color: white;
    }
    .container1{
        background: linear-gradient(to right, rgb(43, 212, 241), rgb(204, 90, 219));
        justify-content: center;
        text-align: center;
        border: 2px solid wheat;
        margin-top: 20px;
        border-radius: 40px;
    }
    
</style>
{% extends 'accounts/Nav.html'%}


{% block body %}


{% if error %}
{{ error }}

<br/>
<br/>
{% endif %}
<div class='container container1' >
<h1>Signup!</h1>

<form method = "POST" action="{% url 'accounts:signup' %}">
    {% csrf_token %}
    username:
    <br/>
    <input type="text" name="username" />
    <br/>
    Password:
    <br/>
    <input type="password" name="password1" />
    <br/>
    confirm Password:
    <br/>
    <input type="password" name="password2" />
    <br/>
    <input class ="btn btn-primary" type="submit" value= "signup" />
    <br/>



</form>

</div>
{% endblock %}
