{% extends 'Base/teacherbase.html' %}
{% block body %}
<div class="row">
    
    <div class="col-xxl-3 col-md-4 col-sm-6">
        <a href="/Studentboard">
            <div class="card widget-flat bg-success text-white">
                <div class="card-body">
                    <div class="float-end">
                        <i class="mdi mdi-account-multiple widget-icon bg-white text-success"></i>
                    </div>
                    <h6 class="text-uppercase mt-0" title="Customers">Student</h6>
                    <h3 class="mt-3 mb-3"></h3>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xxl-3 col-md-4 col-sm-6">
        <a href="/paymentlist">
            <div class="card widget-flat bg-success text-white">
                <div class="card-body">
                    <div class="float-end">
                        <i class="mdi mdi-account-multiple widget-icon bg-white text-success"></i>
                    </div>
                    <h6 class="text-uppercase mt-0" title="Customers">Payment List</h6>
                    <h3 class="mt-3 mb-3"></h3>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xxl-3 col-md-4 col-sm-6">
        <a href="/duelist">
            <div class="card widget-flat bg-success text-white">
                <div class="card-body">
                    <div class="float-end">
                        <i class="mdi mdi-account-multiple widget-icon bg-white text-success"></i>
                    </div>
                    <h6 class="text-uppercase mt-0" title="Customers">Due List</h6>
                    <h3 class="mt-3 mb-3"></h3>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xxl-3 col-md-4 col-sm-6">
        <a href="/TCourseboard">
            <div class="card widget-flat bg-primary text-white">
                <div class="card-body">
                    <div class="float-end">
                        <i class="mdi mdi-book-education widget-icon bg-white text-success"></i>
                    </div>
                    <h6 class="text-uppercase mt-0" title="Customers">Course</h6>
                    <h3 class="mt-3 mb-3"></h3>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xxl-3 col-md-4 col-sm-6">
        <a href="/TLectureboard">
            <div class="card widget-flat bg-info text-white">
                <div class="card-body">
                    <div class="float-end">
                        <i class="mdi mdi-notebook widget-icon bg-white text-success"></i>
                    </div>
                    <h6 class="text-uppercase mt-0" title="Customers">Lecture</h6>
                    <h3 class="mt-3 mb-3"></h3>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xxl-3 col-md-4 col-sm-6">
        <a href="/TAddstudent">
            <div class="card widget-flat bg-secondary text-white">
                <div class="card-body">
                    <div class="float-end">
                        <i class="mdi mdi-account-multiple widget-icon bg-white text-success"></i>
                    </div>
                    <h6 class="text-uppercase mt-0" title="Customers">ADD Teacher</h6>
                    <h3 class="mt-3 mb-3"></h3>
                </div>
            </div>
        </a>
    </div>
</div>
{% endblock  %}

