{% extends 'Base/teacherbase.html' %}

{% block body %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-lg">
            <div class="card-header py-3">
                    <h3 class="mb-0 text-center">Payment List</h3>
                </div>
            <div class="card-body p-5">
               <div class="table-responsive">
                   <table id="exa" class="table table-bordered">
                       <thead>
                           <tr>
                               <th>Name</th>
                               <th>Email</th>
                               <th>Date</th>
                               <th>Amount</th>
                               <th>Payment ID</th>
                           </tr>
                       </thead>
                       <tbody>
                           {% for item in rev %}
                           <tr>
                               <td>{{item.name}}</td>
                               <td>{{item.user}}</td>
                               <td>{{item.date2}}</td>
                               <td>{{item.amount}}</td>
                               <td>{{item.payment_id}}</td>
                           </tr>
                           {% endfor %}
                       </tbody>
                   </table>
               </div>
               
           
            </div>
            </div>
        </div>
    </div>
</div>


<!-- data table -->
<script>
    $(document).ready( function () {
      $('#exa').DataTable();
  } );
  </script>
  <!-- data table -->

{% endblock body %}
