{% extends 'Base/teacherbase.html'%} {% block body %}
<div class="row">
  <div class="col-12 mt-5">
    <div class="card text-center">
      <div class="card-body">
        <img
          src="/static/Base/assets/images/fav-i.jpg"
          class="rounded-circle avatar-lg img-thumbnail"
          alt="profile-image"
        />

        <h4 class="mb-0 mt-2">{{ request.user }}</h4>
        <h4 class="mb-0 mt-2">{{ request.user.get_full_name }}</h4>

        <div class="text-start mt-3">
          <h4 class="font-13 text-uppercase">About Me :</h4>
          <p class="text-muted font-13 mb-3">{{data.about}}</p>
          <p class="text-muted mb-2 font-13">
            <strong>Full Name :</strong>
            <span class="ms-2">{{ request.user.get_full_name }}</span>
          </p>

          <p class="text-muted mb-2 font-13">
            <strong>Mobile :</strong><span class="ms-2">{{data.phone}}</span>
          </p>

          <p class="text-muted mb-2 font-13">
            <strong>Email :</strong>
            <span class="ms-2">{{ request.user.email }}</span>
          </p>

          <!-- collapse -->
          <p>
            <a
              class="btn btn-primary"
              data-bs-toggle="collapse"
              href="#collapseExample"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              Edit Details
            </a>
          </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body mb-0">
              <form
                action="{% url 'Admin:Addteacherdetail' %}"
                method="post"
                class="ps-3 pe-3"
              >
                {% csrf_token %}
        <div class="row">
          {% for fm in form %}
    
          <div class="col-md-6 my-2">
            <p>{{fm.label_tag}}</p>
            {{ fm }} {{ fm.errors }}
          </div>
          {% endfor %}
                <div class="mb-3 text-center">
                  <button class="btn  btn-primary" type="submit">
                    Update
                  </button>
                </div>
              </form>
            </div>
          </div>
          <!-- collapse-end -->
        </div>
      </div>
      <!-- end card-body -->
    </div>
    <!-- end card -->
  </div>
  <!-- end col-->
</div>

{% endblock %}
